---
import Layout from "@layouts/CardLayout.astro"
import Link from "@components/Link.astro"
import "@/main.sass"
import sass from "./log-in.module.sass"

import discordLogo from "@assets/images/discord.svg"
import googleLogo from "@assets/images/google.svg"
import microsoftLogo from "@assets/images/microsoft.svg"
---

<Layout title="Create a Behide account">
  <div id={sass.providers}>
    <button type="button" onclick="redirectToProvider('discord');">
      <img id={sass.discord} src={discordLogo.src} alt="Discord logo" />
      <span>Continue with Discord</span>
    </button>

    <button type="button" onclick="redirectToProvider('google');">
      <img id={sass.google} src={googleLogo.src} alt="Google logo" />
      <span>Continue with Google</span>
    </button>

    <button type="button" onclick="redirectToProvider('microsoft');">
      <img id={sass.microsoft} src={microsoftLogo.src} alt="Microsoft logo" />
      <span>Continue with Microsoft</span>
    </button>
  </div>

  <div id={sass.separator} />

  <div id={sass["sign-up"]}>
    <span>Already have an account ?</span>
    <Link href="/account/log-in">Log in</Link>
  </div>

  <script is:inline>
    const redirectToProvider = provider => {
      document.location.href =
        `${import.meta.env.API_URL}/auth/create-account?provider=${provider}&redirect_uri=${document.location.origin + "/account/signed-up"}`
    }
  </script>
</Layout>